<div class="container-fluid">
  <div class="mt-5">
    <div class="offset-2 col-2">
      <ul class="nav">
        <li class="nav-item">
          <a [hidden]="!started()" class="nav-link" routerLink="/home">home</a>
        </li>
        <li class="nav-item">
          <a [hidden]="!started()" class="nav-link" routerLink="/cookie">cookie</a>
        </li>
        <li class="nav-item">
          <a [hidden]="!started()" class="nav-link" routerLink="/shop">shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/leaderboard">leaderboard</a>
        </li>
      </ul>
    </div>
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>