.farm-1 {
    background-image: url("https://static.wikia.nocookie.net/cookieclicker/images/5/55/Grandmas.gif");
    height: 100px;
    width: 100px;
    border: none;
    background-size: cover;
}

.farm-2 {
    background-image: url("https://static.wikia.nocookie.net/cookieclicker/images/a/a7/Farm.png");
    height: 100px;
    width: 100px;
    border: none;
    background-size: cover;
}

.farm-3 {
    background-image: url("https://static.wikia.nocookie.net/cookieclicker/images/9/99/Mine_new.png");
    height: 100px;
    width: 100px;
    border: none;
    background-size: cover;
}

.farm-4 {
    background-image: url("https://static.wikia.nocookie.net/cookieclicker/images/9/93/FactoryIconTransparent.png");
    height: 100px;
    width: 100px;
    border: none;
    background-size: cover;
}

.farm-5 {
    background-image: url("https://static.wikia.nocookie.net/cookieclicker/images/a/ae/Bank.png");
    height: 100px;
    width: 100px;
    border: none;
    background-size: cover;
}